.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.login-form-container, .login-form, .query-form-container, .query-form{
  display: flex;
  flex-direction: column;
}

label{
  text-align: left;
  padding: 0.25rem 0;
}
input{
  margin: 0.5rem 0;
}

button{
  border: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
